header{
    background-color:red;
}
header > h1{
    color:white;
}
#Section1{
    margin:2em;
    background-color:grey;
}
#Section2{
    background-color:#b7b7b7;
    display:inline-block;
}
#Article1{
    height: 100%;
    width: 8em;
    float: left;
}
img{
    width: 8em;
    height: auto;
}
#Article3{
    float:right;
    background-color:#535353;
    color:white;
}
#Article2{
}
footer{
    clear: right;
    background-color:#e9ad5d;
}