*:not(input){
    background-color: red;
}
h1{
    color:white;
    text-align: center;
}
table{
    background-color: white;
    border: 10px solid blue;
    margin: auto;
    border-collapse: collapse;
}
td{
    padding: 0;
}
img{
    display: block;
}
fieldset, legend, p{
    background-color:yellow;
}
fieldset{
    margin-top: 1em;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}
legend{
    color:#ff9999;
}
input{
    color:blue;
}